Nav {
    color: rgb(69,9,147);
    text-align: top;
    position: sticky
  }
  
body {
    background-color: rgb(237, 232, 253) ;

  }

h1{
  text-align: center;
}
.text-color{
  color: rgb(195, 168, 232);
}


.h-button-color{
  background-color: rgb(117, 75, 217) ;
}

.h-button-color:hover{
  background-color: rgb(117, 75, 217) ;
}

.h-card-head-color{
  background-color: rgb(157, 119, 211);
}

.h-bg-card-color{
  background-color: rgb(195, 168, 232);
}

.h-card-text-color-sd{
  color:rgb(106, 66, 239);
}

.h-card-text-color-py{
  color:rgb(255, 255, 255);
}



.u-bg-card-color{
  background-color: rgb(255, 215, 160);
}

.u-card-text-color-sd{
  color:rgb(244, 140, 4);
}

.u-card-text-color-py{
  color:rgb(241, 141, 94);
}

.small-font{
  font-size: 14px;
}



.r-bg-card-color{
  background-color: rgb(194, 228, 255);
}

.r-card-text-color-sd{
  color:rgb(59, 162, 246);
}

.r-card-text-color-py{
  color:rgb(17, 145, 249);
}
