@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Special+Gothic+Expanded+One&display=swap');

.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.playwrite-au-sa-uniquifier {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

Nav {
    color: rgb(69,9,147);
    text-align: top;
    position: sticky;
  }
  
body {
    background-color: rgb(216, 206, 250) ;

  }

h1{
  text-align: center;
  color: rgb(127, 61, 219);
}
h4{
  text-align: center;
  color: rgb(127, 61, 219);
}

.text-color{
  color: rgb(195, 168, 232);
}

.text-color-2{
  color: rgb(113, 71, 172);
}

.h-button-color{
  color:white;
  background-color: rgb(117, 75, 217) ;
}

.h-button-color:hover{
  color:white;
  background-color: rgb(135, 101, 214) ;
}




.h-card-head-color{
  background-color: rgb(157, 119, 211);
}

.h-bg-card-color{
  background-color: rgb(195, 168, 232);
}

.h-card-text-color-sd{
  color:rgb(106, 66, 239);
}

.h-card-text-color-py{
  color:rgb(255, 255, 255);
}



.u-bg-card-color{
  background-color: rgb(255, 215, 160);
}

.u-card-text-color-sd{
  color:rgb(244, 140, 4);
}

.u-card-text-color-py{
  color:rgb(241, 141, 94);
}

.small-font{
  font-size: 14px;
}

.tiny-font{
  font-size:13px;
}


.r-bg-card-color{
  background-color: rgb(194, 228, 255);
}

.r-card-text-color-sd{
  color:rgb(59, 162, 246);
}

.r-card-text-color-py{
  color:rgb(17, 145, 249);
}

.r-button-color{
  color:rgb(181, 217, 251);
  background-color:rgb(21, 126, 212);
}

.r-button-color:hover{
  color:white;
  background-color:rgb(46, 149, 234);
}


.u-textarea  {
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(195, 168, 232);
  resize:none; 
}

.add-update{
  background-color: rgb(243, 151, 91)
 }
 .add-update:hover{
  background-color: rgb(255, 162, 100);
  color:rgb(255, 255, 255)
 }



.add-hiree{
  background-color: rgb(195, 168, 232);
  border-color: rgb(157, 119, 211);
 }
 .add-hiree:hover{
  background-color: rgb(157, 119, 211);
 }


 .center {
  margin: auto;
  width: 75%;
  border: 3px;
  padding: 10px;
}

.s-center{
  margin: auto;
  width: 50%;
  border: 3px;
  padding: 10px;
}

.update-b{
  width: 75%;
}

.btn:active{
  transform: scale(0.9);
}

.messages{
  background-color: white;
  height: 100%;
  display: block;
}

.m-textarea  {
  box-sizing: border-box;
  width: 100%;
  border-color: rgb(195, 168, 232);
}

.m-textarea:active{
  border-color: rgb(117, 75, 217);
}

.purple-text{
  text-align: center;
  color: rgb(127, 61, 219);
}

.git-button{
  border:none;
}

.o-text{
  color:rgb(247, 219, 208)
}

.nav-button{
  background-color:rgb(21, 126, 212);
}

.u-center{
  margin: auto;
  width: 65%;
  border: 3px;
  padding: 10px;
}

.m-scroll{
  padding: 5px;
  width: auto;
  height: 500px;
  overflow-x:auto;
  overflow-y: auto;
}

.custom-tooltip{
  --bs-tooltip-bg: rgb(241, 141, 94);
  --bs-tooltip-color: white;
}