Nav {
    color: rgb(69,9,147);
    text-align: top;
  }
  
body {
    background-color: rgb(237, 232, 253) ;

  }

.text-color{
  color: rgb(195, 168, 232);
}

.button-color{
  background-color: rgb(35, 145, 209) ;
}

.button-color:hover{
  background-color: rgb(35, 145, 209) ;
}