<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  {%include "components/navbar.html.jinja"%}
  <img src="static/logos/logo" class="img-fluid" alt="Hand in hand">
  <h1>Hand in Hand</h1>
  <p>
  Here at hand in hand we aim to create a place where differently abled people can go to places that they have never been able to go to before with our web application. This web application can also be used to create posts about places and their accessability options and updates to different places so that everyone can share their opinions on a place and whether the place goes through any changes. To help the differently abled to navigate places the have never been before we will allow them to hire caretakers so that they can focus on having a good time.
  </p>

  <a class="btn btn-primary" href="#" role="button">Access awaits</a>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>