<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand In Hand</title>
    <link rel="shortcut icon" href="/static/logos/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"
        integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {%include "components/navbar.html.jinja"%}


    <form method="post" action="/send">

        <input name="to_user" value="{{request.view_args['user_id']}}" hidden>
        <br>
        <br>
        <div class="container rounded col-8 messages">
            <br>
       
            <h5 class="text-center "> You Are Currently Talking To: {{user["first_name"]}} {{user["last_name"]}}</h5>
        
            <div class="row">
                <div class="col-2"></div>
                <div class="col-sm-8">
                    <div class="m-scroll mx-auto d-grid">
                        <img src="/static/logos/transparent_logo.png" class="img-fluid mx-auto d-block" alt="Hand In Hand Logo" height="250px" width="250px">
                        <div class="small-font text-center">Safely message in the Hand in Hand chat!
                        </div>
                        <br>
                        {%for message in messages%}
                        {%if message.from_user == current_user.id%}
                                <p class="tiny-font text-end">You</p>
                                <p class = "p-1 text-break rounded text-end" style="color: rgb(20, 26, 131); background-color:rgb(155, 219, 246)">{{message["written_message"]}}</p>
                        {%else%}
                            <p class=" p-1 text-break rounded text-start" style="color: rgb(91, 39, 1);background-color:rgb(255, 178, 124)">{{message["written_message"]}}</p>
                        {%endif%}
                        {%endfor%}
                    </div>

                    
                    <label for="user_review" class="form-label h-card-text-color-sd"></label>
                    <textarea placeholder="Send Your Messsage Here..." name="written_message" class="form-control text-break "
                        id="customer_review" rows="3" col="20" maxlength="300" style="resize:none" required></textarea>
                        <button type="submit" class="btn h-button-color mt-3 w-100">Send
                            <img src="/static/icons/send.png" alt="Send Arrow" width="20" height="20" class="mb-1">
                        </button>
                </div>
                <div class="col-2"></div>
            
            </div>
            <br>
            <br>
        </div>
    </form>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=6AqfGK6s"></script> <!-- replace with KEY-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        function getSelectionText() {
            var text = "";
            if (window.getSelection) {
                text = window.getSelection().toString();
                // for Internet Explorer 8 and below. For Blogger, you should use &amp;&amp; instead of &&.
            } else if (document.selection && document.selection.type != "Control") {
                text = document.selection.createRange().text;
            }
            return text;
        }
        $(document).ready(function () { // when the document has completed loading
            $(document).mouseup(function (e) { // attach the mouseup event for all div and pre tags
                setTimeout(function () { // When clicking on a highlighted area, the value stays highlighted until after the mouseup event, and would therefore stil be captured by getSelection. This micro-timeout solves the issue. 
                    responsiveVoice.cancel(); // stop anything currently being spoken
                    responsiveVoice.speak(getSelectionText()); //speak the text as returned by getSelectionText
                }, 1);
            });
        });
    </script>
    {#
    <script
        src="https://maps.googleapis.com/maps/api/js?AIzaSyB5gZ5e_XhZS42P61I0hWTvLSNZ9znLNg0&callback=myMap"></script>
    #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>






</body>

</html>